<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% data.forEach(item => { %>
        <div class="item">
        <p class="partno"><%= item.partno %></p>
        <p class="name"><%= item.name %></p>
        <p class="category"><%= item.category %></p>
        <p class="man"><%= item.manufacturer %></p>
        <p class="val"><%= item.value %></p>
    </div>
    <% })%>
</body>
</html>